body {
  /*max-width: fit-content;
  margin: 100px auto;*/
  margin: 0;
  padding-top: 0;
  background-color: pink;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login{
  max-width: 50%;
  margin: auto;
  margin-top: 50px;
}

h1{
  max-width: 100%;
  text-align: center;
  background-color: black;
  color:  rgb(218, 15, 116);
  margin: 0;

  }

  p{
    text-align: center;
  }
  
  .welcome{
    padding-top: 100px;
    text-align: center;
  }

h2{
  text-align: center;
  color: aliceblue;
}


input{
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  width: 500px;
  height: 40px;
  margin-top: 10px;
  border-color:gray;
  padding-left: 20px;
}

.form{
  max-width: fit-content;
  border-width: 2px;
  padding-bottom: 50px;
  background-color: rgb(218, 15, 116);
  border-color:  rgb(218, 15, 116);
  border-radius: 20px;
  padding-left: 25px;
  padding-right: 25px;
  margin: auto;
}

label{
  color: aliceblue;
}



::placeholder{
  color: rgb(218, 15, 116);
  text-align: left;
}

.logo{
  width: 150px;
  height: 150px;
  border-radius: 100px
}

img{
  border: 0.3px solid  rgb(218, 15, 116);
  margin-left: 350px;
  border-width: 10px;
  box-shadow: 10px;
  
}

button{
  background-color: aliceblue;
  color:rgb(218, 15, 116);
  height: 40px;
  width: 130px;
  border-radius: 10px;
  margin-left: 35%;
  margin-top: 20px;
  
}

